body{
	padding: 0;
	margin: 0 auto;
}

button{
	background-color: #2556aa;
	border: none;
}

.slide{
	padding-left: 45px;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.map-wrap {
  float: left;
  width: 1020px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #2B2B2B;
}

#map {
	align-self: center;
  position: relative;
  height: 510px;
	color: #eeeeee;
	background: #2B2B2B;
}

.line {
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background: orange;
}

#rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #A24A4A;
}

#rocket:after {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background: #009933;
  border-radius: 10px;
  /*transition: all 0.1s;*/
  z-index: 100;
}
