
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap needs jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../CSS/Test.css" rel="stylesheet">
  </head>

<!-- ========================NAVBAR ========================== -->
  <body>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="#">
                  <img src="../Images/logo.png" class="logo" alt="UF">
                </a>
                <li><a href="#">Home</a></li>
    						<li><a href="interactivepic.html">Interactive Picture</a></li>
    						<li><a href="howtobuild.html">How to build a rocket</a></li>
    						<li><a href="simulation.html">Simulation</a></li>
    						<li><a href="About.html">About</a></li>
              </ul>
            </div>
        </nav>
    </div>


    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Title</h1>
              <p>Text Goes Here</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Title of More Information</h1>
              <p>Text will wrap in the container of the carousel. This way a plethera of words can be typed and it will stay inside the container of the carousel! Super Cool right?!</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and items
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="row item">
        <div class="col-md-7">
          <h2 class="item-heading">Ever want to build <span class="text-muted">a Rocket? Now you can!</span></h2>
          <p class="lead">Some form of text that will inform the audience of what this section is about</p>
        </div>
        <div class="col-md-5">
            <img class="item-image img-responsive center-block img-rounded img-fluid" src="../Images/star.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="item-divider">

      <div class="row item">
        <div class="col-md-7 col-md-push-5">
          <h2 class="item-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Some form of text that will inform the audience of what this section is about</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="item-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="item-divider">

      <div class="row item">
        <div class="col-md-7">
          <h2 class="item-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Some form of text that will inform the audience of what this section is about</p>
        </div>
        <div class="col-md-5">
          <img class="item-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="item-divider">

      <!-- /END THE itemS -->


      <!-- FOOTER -->
      <footer>

        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p>Department of Mechanical & Aerospace Engineering <br>
           University of Florida <br>
           231 MAE-A, P. O. Box 116250 <br>
           Gainesville, FL 32611 <br>
           P: (352) 392-0961 | F: (352) 392-7303</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div><!-- /.container -->

  </body>
</html>
