<!DOCTYPE html>
<html>

	<head>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="../CSS/style.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

	</head>

	<body>
		<div class="format">
			<header>
			<img src="../Images/logo.png" class="logo" alt="UF">
				<nav>
					<ul>
						<li>Home</li>
						<li><a href="interactivepic.html"> Interactive Picture  </a></li>
						<li><a href="howtobuild.html">How to build a rocket</a></li>
						<li><a href="simulation.html"> Simulation </a></li>
						<li><a href="About.html"> About </a></li>
					</ul>
				</nav>
			</header>
		</div>
		<div class="parallax"></div>
		<div style="height:1000px;font-size:50px">
			<div class="grid">
				<div class="title"><h1>Building Rockets</h1></div>
				<div class="body"><p>Ever wanted to make a rocket before? Now you can! With help from the University of Florida there are interactive pages
					and tutorials on where you can find the best parts for the lowest prices and step by step developements.</p></div>
					<div class="footer1">
						<p>Department of Mechanical & Aerospace Engineering
						University of Florida 231 MAE-A, P.O. Box 116250</p>
					</div>
					<div class="footer2">
						<ul>
							<li>Home</li>
							<br>
							<li><a href="interactivepic.html"> Interactive Picture  </a></li>
							<br>
							<li><a href="howtobuild.html">How to build a rocket</a></li>
							<br>
							<li><a href="simulation.html"> Simulation </a></li>
							<br>
							<li><a href="About.html">About</a></li>
						</ul>
					</div>
					<div class="footer3">
						<button class="insta"><img src="glyph.png"></button>
					</div>
			</div>
		</div>
		<div class="parallax2"></div>
		<div style="height:1000px;font-size:50px">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-3">
					<p>Hello Goodbye</p>
				</div>
				<div class="col-sm-4">why</div>
				<div class="col-sm-4"></div>
			</div>
		</div>

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>

</html>
