<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>How to Build a Rocket</title>
		<!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap needs jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
		<link href="../CSS/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="#">
                  <img src="../Images/logo.png" class="logo" alt="UF">
                </a>
                <li><a href="Test.html">Home</a></li>
    						<li><a href="interactivepic.html">Interactive Picture</a></li>
    						<li><a href="#">How to build a rocket</a></li>
    						<li><a href="simulation.html">Simulation</a></li>
    						<li><a href="About.html">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </nav>
    </div>
			<div class="title"><h1>Build a Rocket</h1></div>
					<!-- Marketing messaging and items
					================================================== -->
					<!-- Wrap the rest of the page in another container to center all the content. -->

					<div class="container marketing">
						<div class="row item">
							<div class="col-md-7">
								<h2 class="item-heading">Ever want to build <span class="text-muted">a Rocket? Now you can!</span></h2>
								<p class="lead">Some form of text that will inform the audience of what this section is about</p>
							</div>
							<div class="col-md-5">
										<!--Card-->
										<div class="card">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/ncP0Km3P9nw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
											<div class="card-body">
												<h4 class="card-title">Watch this!</h4>
												<p class="card-text">Check out more videos like this one!</p>
											</div>
										</div>
							</div>
						</div>

						<hr class="item-divider">

						<div class="row item">
							<div class="col-md-7 col-md-push-5">
								<h2 class="item-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
								<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
							<div class="col-md-5 col-md-pull-7">
								<img class="item-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
							</div>
						</div>

						<hr class="item-divider">

						<div class="row item">
							<div class="col-md-7">
								<h2 class="item-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
								<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
							<div class="col-md-5">
								<img class="item-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
							</div>
						</div>

						<hr class="item-divider">
						<!-- FOOTER -->
						<footer>

							<p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
							<p>Department of Mechanical & Aerospace Engineering <br>
								 University of Florida <br>
								 231 MAE-A, P. O. Box 116250 <br>
								 Gainesville, FL 32611 <br>
								 P: (352) 392-0961 | F: (352) 392-7303</p>
								 <p class="pull-right"><a href="#">Back to top</a></p>
						</footer>
					</div><!-- /.container -->

		</body>
</html>
