<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flight Systems</title>
		<!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap needs jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
		<link href="../CSS/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="#">
                  <img src="../Images/logo.png" class="logo" alt="UF">
                </a>
                <li><a href="Home.html">Home</a></li>
    						<li><a href="#">Interactive Picture</a></li>
    						<li><a href="howtobuild.html">How to build a rocket</a></li>
    						<li><a href="simulation.html">Simulation</a></li>
    						<li><a href="About.html">About</a></li>
              </ul>
            </div>
        </nav>
    </div>

		<h1>Time to take off</h1>

		<div class="container">
			<map name="top">
				<area shape="poly" coords="67,269,95,248,151,239,199,213,215,307,156,295,106,308,71,297" class="part">
				<area shape="rect" coords="201,179,319,366" class="part" >
				<!--	<area shape="circle" coords="centerx,centery,radius" href="">  -->
			</map>

			<div class="popup">
				<span id=close>X</span>
				<p>This is the pop up window</p>
			</div>

			<img src = "http://www.ssbilliards.com/forsale/images/pin_parts/a13/rocket.jpg" usemap="#top" class="info">

		</div>

		<div class="cover"></div>

		<script src="jquery-3.2.1.js"></script>

		<script>
			$(document).ready(function(){
				$(".part").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
					$(".info").fadeOut('slow');
				});
				$(".popup").on('click',function(){
					if($(event.target).is("#close")){
						$(".cover").fadeOut('slow');
						$(".popup").fadeOut('slow');
						$(".info").fadeIn('slow');
					}
				});
				$(".cover").on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
					$(".info").fadeIn('slow');
				})
			});
		</script>

	</body>

</html>
