<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flight Systems</title>
		<!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap needs jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../ImageMapster-master/dist/jquery.imagemapster.js"></script>
		<link href="../CSS/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="#">
                  <img src="../Images/logo.png" class="logo" alt="UF">
                </a>
                <li><a href="Test.html">Home</a></li>
    						<li><a href="interactivepic.html">Interactive Picture</a></li>
    						<li><a href="howtobuild.html">How to build a rocket</a></li>
    						<li><a href="simulation.html">Simulation</a></li>
    						<li><a href="About.html">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </nav>
    </div>

		<h1>Time to take off</h1>

		<div class="container">
			<map name="top">
				<area href="#" shape="poly" coords="67,269,95,248,151,239,199,213,215,307,156,295,106,308,71,297" class="part">
				<area href="#" shape="rect" coords="201,179,319,366" class="part" >
				<!--	<area shape="circle" coords="centerx,centery,radius" href="">  -->
			</map>

			<div class="popup">
				<span id=close>X</span>
				<p>This is the pop up window</p>
			</div>

			<img src = "http://www.ssbilliards.com/forsale/images/pin_parts/a13/rocket.jpg" usemap="#top" class="info" id="outline">

		</div>

		<div class="cover"></div>

		<script src="jquery-3.2.1.js"></script>

		<script>
			$(document).ready(function(){
				$(".part").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
					$(".info").fadeOut('slow');
				});
				$(".popup").on('click',function(){
					if($(event.target).is("#close")){
						$(".cover").fadeOut('slow');
						$(".popup").fadeOut('slow');
						$(".info").fadeIn('slow');
					}
				});
				$(".cover").on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
					$(".info").fadeIn('slow');
				})
			});





			 var inArea,
            map = $('#outline'),

            single_opts = {
                fillColor: '000000',
                fillOpacity: 0,
                stroke: true,
                strokeColor: 'ff0000',
                strokeWidth: 2
            },
          
            initial_opts = {
             isSelectable: false,
                onMouseover: function () {
                    inArea = true;
                
                },
                onMouseout: function () {
                    inArea = false;
                   
                }
            };
        opts = $.extend({},  initial_opts, single_opts);


        map.mapster('unbind')
            .mapster(opts)
            .bind('mouseover', function () {
                if (!inArea) {
                
                       map.mapster('set', true, 'all')
                       .mapster('set_options', single_opts);
                }
            }).bind('mouseout', function () {
                if (!inArea) {
                    map.mapster('set', false, 'all');
                }
            });
		</script>

	</body>

</html>
