<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Simulation</title>
		<!-- Bootstrap core CSS -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap needs jquery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
		<link href="../CSS/sim.css" rel="stylesheet" type="text/css"/>
		<link href="../CSS/style.css" rel="stylesheet" type="text/css"/>
		<script src="../main.js"></script>

	</head>

	<body>

		<div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <a class="navbar-brand" href="#">
                  <img src="../Images/logo.png" class="logo" alt="UF">
                </a>
                <li><a href="Home.html">Home</a></li>
    						<li><a href="interactivepic.html">Interactive Picture</a></li>
    						<li><a href="howtobuild.html">How to build a rocket</a></li>
    						<li><a href="simulation.html">Simulation</a></li>
    						<li><a href="About.html">About</a></li>
              </ul>
            </div>
        </nav>
    </div>
		<div class="title"><h1>Simulation</h1></div>
		<!-- Marketing messaging and items
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">
			<div class="row item">
					<div id="wrapper">
						<div class="row">
							<div class="col-sm-3">
								<h2> Projectile Motion</h2>
										<div class="slidecontainer">
											<div class="row slide">
												<div class="col-sm-6">
												Initial Velocity:
											</div>
												<div class="col-sm-6 col-sm-offset-3" >
												 <input type="range" id="myVelocity" min="1" max="100" value="50" class="slider">
												 <p>Value: <span id="v_output"></span></p>
												</div>
											</div>
										</div>
										<div class="slidecontainer">
											<div class="row slide">
												<div class="col-sm-5">
												Angle:
											</div>
												<div class="col-sm-6 col-sm-offset-3">
												 <input type="range" id="myAngle" min="0" max="90" value="0" class="slider">
												 <p>Value: <span id="ang_output"></span></p>
												</div>
											</div>
										</div>
									<br>
									<div class="row">
										<div class="col-sm-5 col-sm-offset-4">
											<button type="button" class="btn btn-warning" id="simulate">Simulate!</button>
										</div>
									</div>
							</div>
							<div class="col-sm-6">
								<div class="map-wrap">
									<div id="map">
										<div id="rocket"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>

			<hr class="item-divider">
			<div class="row">

			<footer>

				<p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
				<p>Department of Mechanical & Aerospace Engineering <br>
					 University of Florida <br>
					 231 MAE-A, P. O. Box 116250 <br>
					 Gainesville, FL 32611 <br>
					 P: (352) 392-0961 | F: (352) 392-7303</p>
			</footer>
			<div>
		</div><!-- /.container -->

	</body>

</html>
